html {
  font-size: 62.5% ;
}

/*Header Styling*/
header {
  height: 120px;
  border-bottom: 4px;
  border-color: #a34d3a; /*clay*/
  margin: 0;
  padding: 0;
}

header h1 {
  color: #fabd94; /*khaki*/
  font-size: 3.2rem;
  text-align: center;
}

header h2 {
  color: #a7a851; /*sage green*/
  font-size: 2.8rem;
  text-align: center;
}
/*end header styling*/

/*main content styling*/
main {
  background-color: #fabd94; /*khaki*/
  color: #453933; /*warm dark gray*/
  font-size: 1.6rem;
}

h1 {
  color: #520f00; /*maroon*/
  font-size: 2rem;
}
/*end body styling*/

footer {
  height: 100px;
  background-image: url(images/burgundy-leather.png);
  background-repeat: repeat;
}

/*common container classes*/
.wrapper {
  width: 640px;
  margin: auto;
}

.leather {
  background-image: url(images/burgundy-leather.png);
  background-repeat: repeat;
}

/*special font-face styling*/
.questions {
  font-style: oblique;
}
